<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="p-4">
      <h1><a href="index.html" class="logo">City Guardian <span>Seguridad primero</span></a></h1>
      <ul class="list-unstyled components mb-5">
        <li>
          <a [routerLink]="['/city-guardian/dashboard']"><span class="fa fa-home mr-3"></span> Principal</a>
        </li>
        <li>
          <a [routerLink]="['/city-guardian/profile']"><span class="fa fa-user mr-3"></span> Pefil</a>
        </li>
        <li>
          <a [routerLink]="['/city-guardian/map']"><span class="fa fa-map-marker mr-3"></span> Mapa</a>
        </li>
        <li>
          <a [routerLink]="['/city-guardian/report']" ><span class="fa fa-briefcase mr-3"></span> Reporte</a>
        </li>
      </ul>

      <div class="mb-5">

      </div>

      <div class="footer">

      </div>

    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <router-outlet></router-outlet>
  </div>
</div>

<app-chatbot></app-chatbot>